li {
    padding: 5px;
    margin: 5px;
    background: #FFD8B5;
    border-radius: 7px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  #burger {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

  body {
      background-color: #F2C094
  }

  h3 {
      text-align: center
  }

  form {
      text-align: center
  }

  .addContainer {
      background-color: #FFD8B5;
      border-radius: 7px;
  }

  .eatenBy {
    font-style: italic;
  }