<li>
	{{burger_name}}

	{{#if devoured}}
	<input type="text" placeholder="Customer?" id="burger{{id}}">
	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		Devour it!
	</button>
	{{/if}}


</li>